$icon-size: 55px;
$dark-overlay: rgba(0, 0, 0, 0.7);

body {
  overflow-x: hidden;
}

.navbar {
  .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .nav-item.active {
    border-left: #444 3px solid;
  }
}

.carousel-item {
  height: 450px;

}

.carousel-image-1 {
  background: url("../img/attractive-beach-beautiful-1362483.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: url("../img/ball-beach-beautiful-1362478.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: url("../img/beach-bikini-body-319883.jpg");
  background-size: cover;
}

.fa {
  font-size: $icon-size;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/beach-beautiful-bikini-946127.jpg") no-repeat fixed;
  text-align: center;
  color: white;
}

.dark-overlay {
  position: absolute;
  background-color: $dark-overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/beach-female-fit-1117483.jpg") no-repeat fixed 0 -300px;
  text-align: center;
  color: white;
  a {
    color: white;
  }
}

footer#main-footer {
  background: black;
  color: white;
}

#page-header {
  height: 200px;
  background: url("../img/beach-beautiful-beauty-825904.jpg") fixed 0 -360px;
  color: white;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#about {
  img {
    margin-top: -50px;
  }
}

#faq{
  .card{
    border: #444;
    a{
      color: #fff;
      text-decoration: none;
    }
    .card-body, .card-header{
      background:#333;
    }
  }
}